body {
  background: linear-gradient(120deg, #000000, #080869, #1a1a1a);
  background-size: 180% 180%;
  animation: gradient-move 15s ease infinite;
  color: white;
}
@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.dice img {
  width: 250px; 
  height: 250px;
  object-fit: contain; 
  display: block;
  
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

h1 {
  margin: 30px;
  font-family: 'roboto', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 100px;
  color: #ffffff;
  display: block;
  object-fit: contain;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'sans serif', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
